*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration:none;
    color:black;
}
.warp{
    width: 100%;
    height: 100%;
    header{
        width: 100%;
        height: 44px;
        background: black;
        line-height: 44px;
        display: flex;
        a{
            color:#fff;
            text-align: center;
            font-size: 18px;
            flex: 1;
        }
        .a2{
            flex: 3
        }
    }
    section{
        background: #eee;
        width: 100%;
        .sec_top{
        background: #fff;

            li{
                padding: 10px;
                border-bottom: 1px solid #ccc;
                span{
                    margin-right: 20px;
                }
                h3{
                    color:pink;
                }
            }
        }
        .sec_con{
            background: #fff;
            margin-top: 20px;
            li{
                padding: 10px;
                border-bottom: 1px solid #ccc;
                p{
                    width: 100%;
                    height: 100px;
                }
                .imgs{
                    width: 100%;
                    height: 200px;
                }
                .btn{
                    width: 80%;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color:#fff;
                    background:pink;
                    border-radius: 10px;
                    margin: 30px;
                }
            }
        }
    }
}